html {
    background-color: azure;
}

.banner {
    position: relative;
    background-color: rgb(77, 136, 82);
}

.logo {
    width: 100px;
    position:sticky;
}

nav{
    margin-top: 10px;
    height: 50px;
    background-color: rgb(77, 136, 82);
    display: flex;
    justify-content: space-evenly;
      
}

.accueil,
.formule,
.contact{
    font-size: 35px;
 
}

/*DropDown*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}




.nom_presentation {
    margin-top: 30px;
    border-top: 3px #000000 solid;
    border-bottom: 3px #000000 solid;
    border-left: 3px #000000 solid;
    border-right: 3px #000000 solid;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.titre-article{
    margin-top: 30px;
    border-top: 3px #000000 solid;
    border-bottom: 3px #000000 solid;
    border-left: 3px #000000 solid;
    border-right: 3px #000000 solid;
    text-align: center;
}


.photos{
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   margin-left: 50px;
    
}

.photo_1,
.photo_2,
.photo_3 {
    width: 97%;
    margin-top: 30px;
    border-top: 3px #000000 solid;
    border-bottom: 3px #000000 solid;
    border-left: 3px #000000 solid;
    border-right: 3px #000000 solid;
    display: flex;
    flex-wrap: wrap;
  
}


.titre_photo{
    margin-left: 10px;
   font-size: 35px;
}



.footer{
    margin-top: 50px;
    position: relative;
    background-color: rgb(77, 136, 82);
}
